.nav-column {
    border: black solid 3px;

    box-sizing: border-box;

    width: 300px;
    height: 78vh;

    position: fixed;
    right: 0;
    top: 11vh;

    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 2em;

    align-items: center;

    
}

.nav-column-list-div {
    overflow:hidden;
    width: 100%;
}

.nav-column-list-div ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.nav-column-link  {
    padding: .5em 0;
}

.nav-column h3 {
    margin: .5em 0;
}