.browse-article h2 {
    text-align: center;

    color: var(--clr-accent-primary);

    font-size: 2rem;
}

.browse-article ul {
    width: 90%;
    margin: 0 auto;
}

.browse-article-list-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    margin: 1em 0;
    padding: .5em 1em;
}

.browse-article-list-item div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding: .3em 0;
}

.browse-article-list-item {
    color: var(--clr-text-primary);
}