:root,
:root.dark {
    --clr-text-primary: #F7F7F9;
    
    --clr-bg-primary: #2B2D42;
    --clr-bg-secondary: #2B2D42;

    --clr-accent-primary: #FFC800;
    
    --clr-link-primary: #06BEE1;
    --clr-link-secondary: #CC76A1;
}

:root.light {
    --clr-text-primary: #F7F7F9;
    
    --clr-bg-primary: #2B2D42;
    --clr-bg-secondary: #2B2D42;

    --clr-accent-primary: #FFC800;
    
    --clr-link-primary: #6BA368;
    --clr-link-secondary: #CC76A1;
}
/* General */

html {
    background-color: var(--clr-bg-primary);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--clr-link-primary);
}

a:hover {
    color: var(--clr-link-secondary);
}

/* Main */

main {
    min-height: 80vh;
    width: 65em;

    padding: 1em;
    margin: 8rem auto 1vh auto;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}


/* Helpers */

.center-text {
    text-align: center;
}

.disabled-text {
    color: red;
}