nav {
    box-sizing: border-box;

    width: 100%;

    position: fixed;
    top: 0;

    padding: 2em 1em;

    background-color: var(--clr-bg-primary);
}

nav h1 {
    color: var(--clr-accent-primary);
    font-size: 3rem;
    text-align: center;
}

nav h2 {
    color: var(--clr-text-primary);
    font-size: 1.8rem;
    text-align: center;
}